/*


.side-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside h2{
    margin-bottom: 1.5rem;
    text-align: left;
}
!* Hamburger icon styles *!
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    position: fixed; !* so it stays in the top left *!
    top: 5.5rem;
    left: 2%;
    z-index: 1100;
}

.hamburger .line {
    width: 2rem;
    height: 0.25rem;
    background: black;
    transition: all 0.3s ease;
}

!* Animation for hamburger icon when open *!
.hamburger .line.open:nth-child(1) {
    transform: rotate(45deg) translate(11px, 10px);
}
.hamburger .line.open:nth-child(2) {
    opacity: 0;
}
.hamburger .line.open:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

!* Media query to show the hamburger and adjust aside for mobile *!
@media screen and (max-width: 975px) {
    .hamburger {
        display: flex;
    }
    aside {
        position: fixed;
        left: 0;
        top: 4rem;
        width: 100%;
        max-width: 25rem;
        padding-left: 4rem;
        height: 100%;
        !*max-height: 7rem;*!
        z-index: 1000;
        !* Start hidden by moving it off-screen *!
        transform: translateX(-100%);
        overflow-y: auto;
        scrollbar-width: none;
    }
    !* When open, slide the aside into view *!
    aside.open {
        transform: translateX(0);
    }
}

@media screen and (max-width: 500px) {
    aside{
        max-width: 20rem;
        padding-left: 3rem ;
    }
}*/
