.footer-top-wrapper {
  background-color: #014991;
  width: 100%;
}

.main-footer {
  color: white;
  background-color: #014991;
  max-width: 1512px;
  margin: 0 auto;
}

/* Top Footer -------> */
.footer-top {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer-top-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-title {
  font-weight: bold;
}

.footer-center-text {
  font-weight: bold;
}

.contact-us {
  font-weight: bold;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.footer-button {
  background-color: white;
  color: #014991;
  border: 4px solid #014991;
  border-radius: 0.8rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

/* Bottom Footer -------> */
.footer-bottom-wrapper {
  background-color: #02386E;
  width: 100%;
}

.footer-bottom {
  text-align: center;
  color: white;
  max-width: 1512px;
  margin: 0 auto;
  padding: 20px 0;
}