@import "tailwindcss";

/* Global body font and settings */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3rem !important;
  margin-bottom: 4% !important;
}

h2 {
  font-size: 2rem !important;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem !important;

}

h4 {
  font-size: 1rem !important;
}

p {
  font-size: 1rem !important;
}
